body {
	background-color: black;
}
header {
	width: 979px;
	margin: auto;
	background-color: red;
}
nav {
	width: 979px;
	margin: auto;
	background-color: blue;
}
main {
	width: 979px;
	margin: auto;
	background: green;
}
footer {
	width: 979px;
	margin: auto;
	background: yellow;
}