body {
	background-color: #98FB98;
} 
#bloc
{
	width: 979px;
	min-height: 500px;
	margin: auto;
}
header {
	width: 979px;
	height: 150px;
		background-color: white;
}
nav {
	width: 979px;

}
main {
	width: 979px;

}
footer {
	width: 979px;

}

img { 
    float:left;
    margin-left: 10px;
    margin-top: 10px;
    border-width:5px;
	border-style:ridge;
 	border-color:#F0E68C;
}
h1 {
	font-family: 'Indie Flower', cursive;
	color: rgba(39, 174, 96,1.0);
	text-align: center;
}